<div class="container">
  <h1>Welcome to Ruby Racer!</h1>
  <p>A Priya and Katherine production</p>
  
  <form action="/create_game" method="post">  
    <label for="player1"> Player 1 Name: </label>
    <input type="text" id="player1" name="player1" placeholder="enter your name">
    <br/>
    <br/>
    <label for="player2"> Player 2 Name: </label>
    <input type="text" id="player2" name="player2" placeholder="enter your name">
    <input type="submit" value="Submit">
  </form>

</div>

